<app-header></app-header>
    <main>
        <ul>
            <li>
                <app-user
                    [user] = users[0]
                    (select) = "onSelectUSER($event)"
                />
            </li>
            <li>
                <app-user 
                    [user] = "users[1]"
                    (select) = "onSelectUSER($event)"
                />
            </li>
            <li>
                <app-user 
                    [user] = "users[2]"
                    (select) = "onSelectUSER($event)"
                />
            </li>
            <li>
                <app-user
                    [user] = "users[3]"
                    (select) = "onSelectUSER($event)"

                />
            </li>
            <li>
                <app-user
                    [user] = "users[4]"
                    (select) = "onSelectUSER($event)"
                />
            </li>

        </ul>
        <app-tasks
            [task] = "taskInfo"
        />    
    </main> 